
@media only screen and (min-width: 1100px) {
    .divControl {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
  }
  
  @media only screen and (max-width: 1100px) {
    .divControl {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
  }